.btn-list{

    .btn{
        width: 100%
    }

    .btn + .btn{
        margin-top: 1em;
    }

    @media screen and (min-width:768px) {

        .btn{
            width: auto
        }

        .btn + .btn{
            margin-top: 0;
            margin-left: 1em;
        }
    }

  

}

.card {
    margin-bottom: 1em;
    &-img{
        min-height: 200px;
        background-position: top center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}